#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #faf7ed;
}


.bead {
	background:linear-gradient(to bottom, #77d0e0 5%, #2a89bd 100%);
	background-color:#77d0e0;
	border:1px solid #dad4e6;
  border-radius: 50%;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;

}

.bead:hover {
÷   background:linear-gradient(to right, #77d0e0 100%, #2a89bd 5%);
    background-color:#2a89bd;
  }

.prayer {
  margin-top: 20px; 
  font-family: "Lucida Handwriting", cursive; 
  font-size: 20px; 
  animation: fadeIn 1s; 
}


.center {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  width: 70%;
  font-size: 30px;
  display: block;
  text-align: center;
}

.char {
  font-size: 40px;
  height: 40px;
  animation: an 1s ease-out 1 both;
  display: inline-block;
}

@keyframes an {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px)
      rotate3d(1, -1, 0, 35deg);
  }
  to {
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}
