#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #faf7ed;
}


.bead {
	background:linear-gradient(to bottom, #77d0e0 5%, #2a89bd 100%);
	background-color:#77d0e0;
	border:1px solid #dad4e6;
  border-radius: 50%;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 10px;

}

.bead:hover {
÷   background:linear-gradient(to right, #77d0e0 100%, #2a89bd 5%);
    background-color:#2a89bd;
  }

.prayer {
  margin-top: 20px; 
  font-family: "Lucida Handwriting", cursive; 
  font-size: 15px; 
  color: #242e3d; 
}

.reset{
  border: none;
  font-family: Lucida;
}

.rosary{
  position: relative;
  width: 600px;
  height: 600px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rosaryImage {
  width: 100%;
  height: 100%;
}